<div>
    <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">{{ pageTitle }}</a>
            <ul class="nav">
                <li class="nav-item">
                    <a [routerLink]="['/home']" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/news']" class="nav-link">News List</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>